.headBar {
  width: 100%;
  position: relative;
  z-index: 2;

  // 导航按钮的样式
  .navButton {
    position: relative;
    color: #fff;
    &::after {
      position: absolute;
      content: "";
      width: 0;
      height: 1px;
      bottom: -2px;
      left: 50%;
      background: #fff;
      transition: all 0.3s;
    }
    &:hover::after {
      width: 100%;
      left: 0;
      right: 0;
      background: #f6eb88;
    }
    &:hover {
      a {
        color: #f6eb88;
      }
    }
  }

  // 链接钱包的按钮
  .connectWallet {
    border-radius: 5px;
  }
}
