@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1690075594853') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-zhuangtaijiazai:before {
  content: "\e69d";
}

.icon-jiantou:before {
  content: "\e64a";
}

.icon-xuanzhong:before {
  content: "\e60e";
}

